<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <div class="login_container">
            <h1 class="form-head">Login</h1>
            <form action="/api/v1/user/login" method="post">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-input" name="email" id="" placeholder="Enter Your Email">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-input" name="password" id="password" placeholder="Enter Your Password">
                <div class="btn_container">
                    <button type="submit" class="form-btn sub-btn">Login</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>