<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <main>
            <div class="register_container">
                <h1 class="form-head">Register</h1>
                <form action="/api/v1/user/register" method="post">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-input" type="text" name="name" id="name" placeholder="Enter Your First Name">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-input" type="email" name="email" id="" placeholder="Enter Your Email">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-input" type="password" name="password" id="password"
                        placeholder="Enter Your Password">
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <input class="form-input" type="password" name="confirmPassword" id="confirmPassword"
                        placeholder="Enter Your Confirm Password">
                    <div class="btn_container">
                        <button class="form-btn sub-btn" type="submit">Signup</button>
                        <button class="form-btn reset-btn" type="reset">Clear</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>