<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Update ToDo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="input_container">
            <h1>Edit Todo</h1>
            <form class="pro-form" action="/api/v1/todo/<%= todo._id%>?_method=PUT" method="post" autocomplete="off">
                <input type="text" class="pro-input" name="name" placeholder="Enter to-do value here" value="<%= todo.name%>">
                <button type="submit" class="pro-btn pro-edit"><i class="bi bi-send"></i></button>
            </form>
        </div>
    </body>
</html>