<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/images/todo.png" type="image/x-icon">
    </head>
    <body>
        <header>
            <div class="logo">Logo</div>
            <ul class="unorder-list">
                <li class="order-list">Welcome <%= name%></li>
                <li class="order-list"><a href="/api/v1/user/logout">Logout</a></li>
            </ul>
        </header>
        <main>
            <div class="input_container">
                <h1 class="form-head">Update Todo</h1>
                <form class="todo-form" action="/api/v1/todo/<%= todo._id%>?_method=PUT" method="post">
                    <input class="todo-input" type="text" name="name" value="<%= todo.name%>">
                    <button class="form-btn sub-btn" type="submit">Update</button>
                </form>
            </div>
        </main>
    </body>
</html>