* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
}

main {
    width: 900px;
    margin: 0 auto;
}

.input_container {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.todo-form {
    padding: 10px;
    display: flex;
    gap: 0.25em;
}

.todo-input {
    flex: 2 0 auto;
    padding: 10px;
}

.todo-btn {
    flex: 1 0 auto;
    padding: 10px;
}

.todo_list {
    width: 100%;
    margin-top: 1em;
    text-align: center;
}

.todo-table {
    width: 100%;
    margin-top: 2em;
    padding: 20px;
}

th {
    height: 70px;
    background-color: #ddd;
}

td {
    height: 50px;
    border-bottom: 1px solid black;
}

td>a {
    padding: 8px 10px;
    text-decoration: none;
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}

.login_container, .register_container {
    width: 400px;
    margin: 0 auto;
    margin-top: 2em;
    padding: 20px;
}

.form-head, .todo-head {
    text-align: center;
    margin-bottom: 0.25em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-input {
    padding: 10px;
    border-radius: 10px;
}

.form-label {
    font-size: 1.5em;
}

.btn_container {
    display: flex;
    justify-content: space-around;
    gap: 0.25em;
}

.form-btn {
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    padding: 15px;
    color: #fff;
    flex: 1;
}

.form-input, .form-btn {
    border: none;
}

.form-input {
    border: 1px solid #333;
}

.sub-btn {
    background-color: green;
}

.reset-btn {
    background-color: red;
}