* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #19909e;
    padding: 0 5%;
    height: 80px;
}

.unorder-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

main {
    width: 900px;
    margin: 0 auto;
}

.input_container {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.todo-form {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 0.25em;
}

.todo-input {
    flex: 2 0 auto;
    padding: 10px;
    border: none;
    border: 1px solid #333;
    border-radius: 20px;
}

.todo_list {
    width: 100%;
    text-align: center;
}

.todo-table {
    width: 100%;
    margin-top: 1em;
    padding: 10px;
}

th {
    background-color: #ddd;
    height: 60px;
    width: 50%;
}

td {
    height: 50px;
    border-bottom: 1px solid #000;
}

.todo-btn, .todo-input {
    text-decoration: none;
}

.todo-input {
    padding: 8px 10px;
}

.login_container, .register_container {
    width: 400px;
    margin: 0 auto;
    margin-top: 2em;
    padding: 20px;
}

.form-head, .todo-head {
    text-align: center;
    margin-bottom: 0.25em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-input {
    padding: 10px;
    border-radius: 10px;
}

.form-label {
    font-size: 1.5em;
}

.btn_container {
    display: flex;
    justify-content: space-around;
    gap: 0.25em;
}

.form-btn, .todo-btn  {
    outline: none !important;
    border: none !important;
    border-radius: 20px;
    font-size: 13px;
    padding: 8px 20px;
    cursor: pointer;
    color: #fff;
}

.form-input {
    border: 1px solid #333;
}

.sub-btn {
    background-color: #0d7d0d;
}

.reset-btn {
    background-color: #ec0a0a;
    width: 35%;
    margin: 0 auto;
}